
.trending_product{
    padding-top: 3rem;
    align-items: center;
    padding-bottom: 4rem;
    margin-right: 2rem;
}
.trending_product .trending_header{
    text-align: center;
}
.trending_product .trending_title{
    font-size: 3rem;
    margin-bottom: 2rem;
}
.trending_header .little_des{
    font-size: 1.6rem;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

/* Trending Product Listing*/
.trending_content{
    display: flex;
    flex-wrap: wrap;
    max-width: 114rem;
    margin: 0 auto;
    padding-left: 5rem;
    gap: 3px 2px;
}
.trending_content .trending_col{
    width: 25rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
}
.trending_col img{
    width: 25rem;
    height: 25rem;
}
.trending_col h4{
    font-size: 1.4rem;
    margin-top: 1rem;
}
.trending_attribute{
    margin-top: 2rem;   
}
.trending_price_tag{
    display: flex;
    margin-top: -2rem;
}
.trending_price_tag .off_price{
   
   color: black;
   text-decoration: line-through;
   font-size: 1.7rem;
   font-weight: 700;
}
.trending_price_tag .on_price{
    padding-left: 1rem;
    font-size: 1.7rem;
    color: black;
    font-weight: 700;
 }

.trend_ratings .trend_rating_item{
    color: rgb(255, 238, 0);
    font-size: 3rem;
    margin-top: -1rem;
    margin-left: -0.2rem;
    flex-basis: 20;
    margin-bottom: 0.1rem;
    line-height: 2rem;

}
.trending_attribute .addCart{
 padding: 0.5rem 2rem;
 font-size: 1.2rem;
 font-weight: 700;
 border-radius: 0.5rem;
 background-color: antiquewhite;
 text-transform: uppercase;
 cursor: pointer;
 border-color: antiquewhite;;
}
.trending_attribute .addCart:hover{
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 0.5rem;
    background-color: rgb(230, 187, 132);
    color: white;
    
   }



