/* Product Page  */
.products{
    display: flex;
    color:white;
   background-color: rgb(255, 255, 255);
   
}
.filters{
   height: 50rem;
   margin-top: 5rem;
   width: 25%;
   padding-left: 4rem;
   padding-right: 2rem; 
}
.ProductContainer{
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0rem;
    
}
/* End Product Page */
/* Product Section */
.ProductContainer .productTitle{
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 400;
    
}
.ProductContainer .trend_col{
    margin: 1rem;
    width: 25rem;
    margin-bottom: 2rem;
}
.ProductContainer .trend_col img{
    width: 25rem;
}
.ProductContainer .trendy_attribute{
    margin-top: 0.2rem;
}
.ProductContainer.trend_col h4{
    color: black;
}
.ProductContainer .danger{
    margin-top: -1rem;
    padding: 0.6rem 1.5rem;
    background-color: white;
    color: blue;
    border: 1px solid rgba(0, 0, 255, 0.61);

    cursor: pointer;
    font-size: 1.2rem;
    text-transform: uppercase;
    
}
.ProductContainer .addtoCart{
    color: blue;
    margin-top: -2rem;
    padding: 0.4rem 1.4rem;
    background-color: white;
    border: 1px solid blue;

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
.ProductContainer .addtoCart:hover,.danger:hover{
    background-color:blue;
    color: white;
}

.ProductContainer .fast_delivery{
    color: rgb(15, 15, 15);
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 0.5rem;  
    
    /* margin-left: 6rem; */
}
.ProductContainer .rating{
    color: rgb(255 255 8);
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0rem;
}
.ProductContainer .price_tag{
    color: black;
    font-size: 2rem;
    font-weight: 600;
    margin-top: -1.5rem;
}
.trend_col .container {
    position: relative;
    text-align: center;
    color: black;
  }
  
  .trend_col .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  .ProductContainer .trend_col .old_price{
    text-decoration: line-through;
    background-color: yellow;
    color: black;
    font-size: 1.7rem;
  }